name: "Electrical Panel Mapper"
description: "Interactive electrical panel mapping and circuit management tool"
version: "1.0.6"
slug: "electrical_panel"
url: "https://github.com/pierre-nedelec/electrical-panel-mapper"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
startup: application
boot: auto
ingress: true
ingress_port: 8080
init: false
options:
  log_level: "info"
  database_backup: true
  backup_interval: 24
schema:
  log_level: list(trace|debug|info|notice|warning|error|fatal)
  database_backup: bool
  backup_interval: int(1,168)
